<div class="container title">
    <b></b>
    <span>Best Selling Product</span>
    <b></b>
</div>
<div class="container">
    <div class="row feature">
        <div class="col-md-12 col-lg-4 feature__card feature__card--1">
            <div class="feature__card-icon">
                <i class="fab fa-amazon-pay"></i>
            </div>
            <h3>Feature Title</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At aperiam exercitationem vero commodi asperiores. Facere deserunt ducimus minima et tenetur itaque eum, aliquam suscipit saepe!</p>
        </div>
        <div class="col-md-12 col-lg-4 feature__card feature__card--2">
            <div class="feature__card-icon">
                <i class="fab fa-amazon-pay"></i>
            </div>
            <h3>Feature Title</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At aperiam exercitationem vero commodi asperiores. Facere deserunt ducimus minima et tenetur itaque eum, aliquam suscipit saepe!</p>
        </div>
        <div class="col-md-12 col-lg-4 feature__card feature__card--3">
            <div class="feature__card-icon">
                <i class="fab fa-amazon-pay"></i>
            </div>
            <h3>Feature Title</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At aperiam exercitationem vero commodi asperiores. Facere deserunt ducimus minima et tenetur itaque eum, aliquam suscipit saepe!</p>
        </div>
    </div>
</div>