<div class="omb_login">
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                <!-- <i class="fa fa-facebook"></i> -->
                <i class="fab fa-facebook-f"></i>
                <span class="ml-1 d-none d-lg-inline-block">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fab fa-twitter"></i>
                <span class="ml-1 d-none d-lg-inline-block">Twitter</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a class="btn btn-lg btn-block omb_btn-google" (click)="signInWithGoogle()">
                <i class="fab fa-google-plus-g"></i>
                <span class="ml-1 d-none d-lg-inline-block">Google+</span>
            </a>
        </div>
    </div>
</div>