<div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1" ></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-item--1 active d-flex justify-content-center ">
        
        <div class="content-item content-item__1 align-self-center">
          <h4>It has Finally Started...</h4>
          <span></span>
          <h2>HUGE SALE</h2>
          <h2>UPTO 70% OFF</h2>
          <span></span>
          <div class="content-item__button d-flex justify-content-around">
            <button class="btn btn-outline-primary">SHOP MEN</button>
            <button class="btn btn-outline-primary">SHOP WOMEN</button>
            <button class="btn btn-outline-primary">SHOP ALL</button>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-item--2 ">
        
        <div class="container d-flex justify-content-start" >
          <div class="content-item content-item__2 align-self-center">
            <h4>Mens Clothing</h4>
            <h2>HOT SUMMER</h2>
            <h2>FASHION</h2>
            <h3>FROM 19$</h3>
            <span></span>
            <div class="content-item__button d-flex justify-content-around">
              <button class="btn btn-outline-primary">SHOP NOW</button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="carousel-item carousel-item--3">
        
        <div class="container d-flex justify-content-end" >
          <div class="content-item content-item__3 align-self-center">
            <h4>Shop Now</h4>
            <h2>THIS IS AN</h2>
            <h2>AWESOME VIDEO</h2>
            <h3>BANNER</h3>
            <span></span>
            <div class="content-item__button d-flex justify-content-center">
              <button class="btn btn-outline-primary">SHOP MEN</button>
              <button class="btn btn-outline-primary">SHOP WOMEN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>