<div class="container">
    <div class="row d-sm-flex justify-content-sm-between">
        <div class="feature-item">
            <div>
                <h3>OUR BLOG</h3>
                <span></span>
            </div>
        </div>
        <div class="feature-item">
            <div>
                <h3>JOIN OUR COMPETITION</h3>
                <span></span>
            </div>
        </div>
        <div class="feature-item">
            <div>
                <h3>ABOUT US</h3>
                <span></span>
            </div>
        </div>
    </div>
    <div class="title">
        <b></b>
        <span>Weekly Feature Products</span>
        <b></b>
    </div>
</div>