<div class="container">

    <div class="omb_login">
        <h3 class="omb_authTitle">Login or Sign up </h3>
        <app-social-login></app-social-login>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form class="omb_loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email"
                            aria-label="Email" aria-describedby="basic-addon1">
                    </div>
                    <!-- <span class="help-block" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Username is required</span> -->
                    <div class="mb-3" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
                        <span class="help-block">
                            <span *ngIf="loginForm.get('email').errors['required']">Email is required!</span>
                            <span *ngIf="loginForm.get('email').errors['email']">Email is not correct!</span>
                        </span>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password"
                            aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="mb-3" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                        <span class="help-block">
                            <span *ngIf="loginForm.get('password').errors['required']">Password is required</span>
                            <span *ngIf="loginForm.get('password').errors['pattern']">Password must be at least 6
                                charaters long</span>
                        </span>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid"><i
                            class="fas fa-spinner fa-spin" *ngIf="isLoading"></i> Login</button>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3 mt-2">
            <div class="col-xs-12 col-sm-3">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">Remember Me
                </label>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a href="#">Forgot password?</a>
                </p>
            </div>
        </div>
    </div>
</div>