/* You can add global styles to this file, and also import other style files */
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';

.myclass{
    background-color:red;
    padding:20px;
    border-radius:5px;
    p{
        color:black;
        font-weight:bold;
        text-transform:uppercase;    
    }
}