/* You can add global styles to this file, and also import other style files */
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';


.title{
    display:flex;
    margin-top:1rem;
    margin-bottom:1rem;
    b{
        background-color: black;
        flex:1;
        height: 2px;
        vertical-align: center;
        align-self: center;
        opacity: .1;
    }

    span{
        margin:.5rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
    }
}