@import "../variable/variables";
#mainCarousel{
    display: block;
    background-color:$carousel-bg-color;
}

#weekly-feature{
    padding-top:1rem;
    
}
#best-selling-product{
    
    padding-bottom:1rem;
}